@model IEnumerable<Handicraft_Website.Models.Content>
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Home";
}

@* <section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('home_assets/images/bg-01.jpg');">
    <h2 class="ltext-105 cl0 txt-center">
        Contact
    </h2>
</section> *@
<section class="bg0 p-t-104 p-b-116">
    <div class="container">
        <div class="flex-w flex-tr">
            <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md border border-5 border-danger">
                <form>
                    <h4 class="mtext-105 cl2 txt-center p-b-30">
                        @Model.ElementAt(3).Header
                    </h4>

                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="email"
                            placeholder="Your Email Address">
                        <img class="how-pos4 pointer-none" src="~/home_assets/images/icons/icon-email.png" alt="ICON">
                    </div>

                    <div class="bor8 m-b-30">
                        <textarea class="stext-111 cl2 plh3 size-120 p-lr-28 p-tb-25" name="msg"
                            placeholder="How Can We Help?"></textarea>
                    </div>

                    <button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
                        Submit
                    </button>
                </form>

                <div class="container">
                    <div class="row">
                        <div class="col text-center pt-5">
                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal"
                                data-target="#left">
                                Edit
                            </button>
                        </div>
                    </div>
                </div>


            </div>


            <div
                class="size-210 bor10 flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md border border-5 border-danger">
                <div class="flex-w w-full p-b-42">
                    <span class="fs-18 cl5 txt-center size-211">
                        <span class="lnr lnr-map-marker"></span>
                    </span>

                    <div class="size-212 p-t-2">
                        <span class="mtext-110 cl2">
                            @Model.ElementAt(0).Header
                        </span>

                        <p class="stext-115 cl6 size-213 p-t-18">
                            @Model.ElementAt(0).Content1
                        </p>
                    </div>
                </div>

                <div class="flex-w w-full p-b-42">
                    <span class="fs-18 cl5 txt-center size-211">
                        <span class="lnr lnr-phone-handset"></span>
                    </span>

                    <div class="size-212 p-t-2">
                        <span class="mtext-110 cl2">
                            @Model.ElementAt(1).Header
                        </span>

                        <p class="stext-115 cl1 size-213 p-t-18">
                            @Model.ElementAt(1).Content1
                        </p>
                    </div>
                </div>

                <div class="flex-w w-full">
                    <span class="fs-18 cl5 txt-center size-211">
                        <span class="lnr lnr-envelope"></span>
                    </span>

                    <div class="size-212 p-t-2">
                        <span class="mtext-110 cl2">
                            @Model.ElementAt(2).Header
                        </span>

                        <p class="stext-115 cl1 size-213 p-t-18">
                            @Model.ElementAt(2).Content1
                        </p>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col text-center pt-5">
                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal"
                                data-target="#right">
                                Edit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Modal for contet 1-->
<div style="z-index: 10;" class="modal fade" id="right" tabindex="-1" role="dialog" aria-labelledby="rightTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="right">Edit page</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="EditManageAboutUs" asp-controller="Admin" enctype="multipart/form-data">

                    @* component 1 *@
                    <div class="form-group">
                        <label asp-for="@Model.ElementAt(0).Header">Header 1</label>
                        <textarea name="Header1" class="form-control" id="exampleFormControlTextarea1"
                            rows="3">@Model.ElementAt(0).Header</textarea>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.ElementAt(0).Content1">Content 1</label>
                        <textarea name="Content1" class="form-control" id="exampleFormControlTextarea1"
                            rows="3">@Model.ElementAt(0).Content1</textarea>
                    </div>

                    @* component 2 *@
                    <div class="form-group">
                        <label asp-for="@Model.ElementAt(1).Header">Header 2</label>
                        <textarea name="Header2" class="form-control" id="exampleFormControlTextarea1"
                            rows="3">@Model.ElementAt(1).Header</textarea>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.ElementAt(1).Content1">Content 2</label>
                        <textarea name="Content2" class="form-control" id="exampleFormControlTextarea1"
                            rows="3"> @Model.ElementAt(1).Content1 </textarea>
                    </div>

                    @* component 3 *@
                    <div class="form-group">
                        <label asp-for="@Model.ElementAt(2).Header">Header 3</label>
                        <textarea name="Header3" class="form-control" id="exampleFormControlTextarea1"
                            rows="3">@Model.ElementAt(2).Header </textarea>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.ElementAt(2).Content1">Content 3</label>
                        <textarea name="Content3" class="form-control" id="exampleFormControlTextarea1"
                            rows="3">@Model.ElementAt(2).Content1 </textarea>
                    </div>

                    @* submit buttons *@
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button asp-action="ManageContactUs1" asp-controller="Admin"
                            asp-route-id1="@Model.ElementAt(0).Id" asp-route-id2="@Model.ElementAt(1).Id"
                            asp-route-id3="@Model.ElementAt(2).Id" type="submit" class="btn btn btn-primary">Save
                            change</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>


<!-- Modal for contet 2-->
<div class="modal fade" id="left" tabindex="-1" role="dialog" aria-labelledby="leftTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="conlefttent2">Edit page</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="EditManageAboutUs" asp-controller="Admin" enctype="multipart/form-data">

                    @* component 1 *@
                    <div class="form-group">
                        <label asp-for="@Model.ElementAt(3).Header">Header</label>
                        <textarea name="Header1" class="form-control" id="exampleFormControlTextarea1"
                            rows="3">@Model.ElementAt(3).Header</textarea>
                    </div>

                    @* submit buttons *@
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button asp-action="ManageContactUs2" asp-controller="Admin"
                            asp-route-id="@Model.ElementAt(3).Id" type="submit" class="btn btn btn-primary">Save
                            change</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
