@model Tuple<IEnumerable<Testimonial> , IEnumerable<Testimonial>>
@{
  Layout = "_AdminDashboard";
}

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Testimonial Requests</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Vendor Registeration</li>
        <li class="breadcrumb-item active">General</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row justify-content-center">
      <div class="col-lg">


        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Testimonials Requests</h5>

            <!-- Table with hoverable rows -->
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#ID</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Testominal</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                @foreach (var item in Model.Item1)
                {
                  <tr>
                  <th scope="row">@item.Id</th>
                  <td>@item.User.FirstName</td>
                  <td>@item.User.LastName</td>
                  <td>@item.Content</td>
                  
                  <td>
                  <a  class="btn btn-success btn-sm" asp-action = "AcceptTestimonial" asp-controller = "Admin" asp-route-id="@item.Id">Accept</a>
                  <a asp-action="RejectTestimonial" asp-controller = "Admin" asp-route-id="@item.Id" class="btn btn-danger btn-sm" >Reject</a>
                  </td>
                  </tr>
                }
                
              </tbody>
            </table>
            <!-- End Table with hoverable rows -->

          </div>
        </div>


      </div>
    </div>
  </section>


  <section class="section">
    <div class="row justify-content-center">
      <div class="col-lg">


        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Testimonials Requests</h5>

            <!-- Table with hoverable rows -->
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#ID</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Testominal</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                @foreach (var item in Model.Item2)
                {
                  <tr>
                  <th scope="row">@item.Id</th>
                  <td>@item.User.FirstName</td>
                  <td>@item.User.LastName</td>
                  <td>@item.Content</td>
                  
                  <td>
                  @if(@item.Status == 1)
                  {
                    <td class="text-success">Accepted</td>
                  }
                  else if(@item.Status == 2)
                  {
                    <td class="text-danger">Rejected</td>
                  }
                  @* <a  class="btn btn-success btn-sm" asp-action = "AcceptTestimonial" asp-controller = "Admin" asp-route-id="@item.Id">Accept</a>
                  <a asp-action="RejectTestimonial" asp-controller = "Admin" asp-route-id="@item.Id" class="btn btn-danger btn-sm" >Reject</a> *@
                  </td>
                  </tr>
                }
                
              </tbody>
            </table>
            <!-- End Table with hoverable rows -->

          </div>
        </div>


      </div>
    </div>
  </section>

</main>
